In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
df = pd.read_csv("https://raw.githubusercontent.com/MiltonDavila123/CSV/refs/heads/main/ai_job_dataset.csv")
df = df.dropna()

In [18]:
print(df)

        job_id                    job_title  salary_usd salary_currency  \
0      AI00001        AI Research Scientist       90376             USD
1      AI00002         AI Software Engineer       61895             USD
2      AI00003                AI Specialist      152626             USD
3      AI00004                 NLP Engineer       80215             USD
4      AI00005                AI Consultant       54624             EUR
...        ...                          ...         ...             ...
14995  AI14996            Robotics Engineer       38604             USD
14996  AI14997  Machine Learning Researcher       57811             GBP
14997  AI14998                 NLP Engineer      189490             USD
14998  AI14999                   Head of AI       79461             EUR
14999  AI15000     Computer Vision Engineer       56481             USD

      experience_level employment_type company_location company_size  \
0                   SE              CT            China            M
1                   EN              CT           Canada            M
2                   MI              FL      Switzerland            L
3                   SE              FL            India            M
4                   EN              PT           France            S
...                ...             ...              ...          ...
14995               EN              FL          Finland            S
14996               EN              CT   United Kingdom            M
14997               EX              CT      South Korea            L
14998               EN              FT      Netherlands            M
14999               MI              PT          Austria            S

      employee_residence  remote_ratio  \
0                  China            50
1                Ireland           100
2            South Korea             0
3                  India            50
4              Singapore           100
...                  ...           ...
14995            Finland            50
14996     United Kingdom             0
14997        South Korea            50
14998        Netherlands             0
14999            Austria            50

                                       required_skills education_required  \
0             Tableau, PyTorch, Kubernetes, Linux, NLP           Bachelor
1      Deep Learning, AWS, Mathematics, Python, Docker             Master
2         Kubernetes, Deep Learning, Java, Hadoop, NLP          Associate
3                            Scala, SQL, Linux, Python                PhD
4                         MLOps, Java, Tableau, Python             Master
...                                                ...                ...
14995                          Java, Kubernetes, Azure           Bachelor
14996          Mathematics, Docker, SQL, Deep Learning             Master
14997                                Scala, Spark, NLP          Associate
14998        Java, Computer Vision, Python, TensorFlow                PhD
14999    Scala, Azure, Deep Learning, GCP, Mathematics                PhD

       years_experience       industry posting_date application_deadline  \
0                     9     Automotive   2024-10-18           2024-11-07
1                     1          Media   2024-11-20           2025-01-11
2                     2      Education   2025-03-18           2025-04-07
3                     7     Consulting   2024-12-23           2025-02-24
4                     0          Media   2025-04-15           2025-06-23
...                 ...            ...          ...                  ...
14995                 1         Energy   2025-02-06           2025-03-25
14996                 0     Government   2024-10-16           2024-10-30
14997                17  Manufacturing   2024-03-19           2024-05-02
14998                 1    Real Estate   2024-03-22           2024-04-23
14999                 2     Technology   2024-07-18           2024-08-10

       job_description_length  benefits_score       company_name
0                        1076             5.9    Smart Analytics
1                        1268             5.2       TechCorp Inc
2                        1974             9.4    Autonomous Tech
3                        1345             8.6     Future Systems
4                        1989             6.6  Advanced Robotics
...                       ...             ...                ...
14995                    1635             7.9  Advanced Robotics
14996                    1624             8.2    Smart Analytics
14997                    1336             7.4     AI Innovations
14998                    1935             5.6    Smart Analytics
14999                    2492             7.6     AI Innovations

[15000 rows x 19 columns]

In [19]:
X = df[['years_experience', 'remote_ratio','benefits_score','experience_level','employment_type','company_size','education_required','company_location',
        'industry']]

In [20]:
print(X)

       years_experience  remote_ratio  benefits_score experience_level  \
0                     9            50             5.9               SE
1                     1           100             5.2               EN
2                     2             0             9.4               MI
3                     7            50             8.6               SE
4                     0           100             6.6               EN
...                 ...           ...             ...              ...
14995                 1            50             7.9               EN
14996                 0             0             8.2               EN
14997                17            50             7.4               EX
14998                 1             0             5.6               EN
14999                 2            50             7.6               MI

      employment_type company_size education_required company_location  \
0                  CT            M           Bachelor            China
1                  CT            M             Master           Canada
2                  FL            L          Associate      Switzerland
3                  FL            M                PhD            India
4                  PT            S             Master           France
...               ...          ...                ...              ...
14995              FL            S           Bachelor          Finland
14996              CT            M             Master   United Kingdom
14997              CT            L          Associate      South Korea
14998              FT            M                PhD      Netherlands
14999              PT            S                PhD          Austria

            industry
0         Automotive
1              Media
2          Education
3         Consulting
4              Media
...              ...
14995         Energy
14996     Government
14997  Manufacturing
14998    Real Estate
14999     Technology

[15000 rows x 9 columns]

In [21]:
y = df['salary_usd']

In [22]:
print(y)

0         90376
1         61895
2        152626
3         80215
4         54624
          ...
14995     38604
14996     57811
14997    189490
14998     79461
14999     56481
Name: salary_usd, Length: 15000, dtype: int64

In [23]:
variables_categoricas = ['experience_level','employment_type','company_size','education_required','company_location',
        'industry']
variable_numericas= ['years_experience', 'remote_ratio','benefits_score']

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
import tensorflow as tf
from tensorflow.keras import layers, models

In [25]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), variable_numericas),
        ('cat', OneHotEncoder(handle_unknown='ignore'), variables_categoricas)
    ])

X_Procesado = preprocessor.fit_transform(X).toarray()

In [26]:
print(X_Procesado)

[[ 0.49531313  0.01265988 -1.10576909 ...  0.          0.
   0.        ]
 [-0.94727643  1.23780922 -1.58825443 ...  0.          0.
   0.        ]
 [-0.76695274 -1.21248946  1.3066576  ...  0.          0.
   0.        ]
 ...
 [ 1.93790268  0.01265988 -0.07187194 ...  0.          0.
   0.        ]
 [-0.94727643 -1.21248946 -1.31254852 ...  0.          0.
   0.        ]
 [-0.76695274  0.01265988  0.06598102 ...  1.          0.
   0.        ]]

In [27]:
X_Procesado.shape

(15000, 53)

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X_Procesado, y, test_size=0.2, random_state=0)

In [29]:
model = models.Sequential([
    layers.Dense(9, activation='relu', input_shape=(X_train.shape[1],)),
    layers.Dense(9, activation='relu'),
    layers.Dense(9, activation='relu'),
    layers.Dense(1)
])

c:\Users\Damacus\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [30]:
model.compile(optimizer='adam', loss='mse', metrics=['mae'])

print("Entrenando la red neuronal...")
model.fit(X_train, y_train, epochs=200, batch_size=32, validation_split=0.2, verbose=False)

loss, mae = model.evaluate(X_test, y_test)
print(f"\nError Medio Absoluto en el test: ${mae:.2f}")


predicciones = model.predict(X_test[:5])
print("\nComparación de Predicciones:")
for i in range(5):
    print(f"Real: {y_test.values[i]} - Predicho: {predicciones[i][0]:.2f}")

Entrenando la red neuronal...
94/94 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 432735040.0000 - mae: 15139.4170

Error Medio Absoluto en el test: $15139.42
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 72ms/step

Comparación de Predicciones:
Real: 76495 - Predicho: 73448.59
Real: 191488 - Predicho: 187010.25
Real: 130265 - Predicho: 114656.71
Real: 167007 - Predicho: 154944.19
Real: 115201 - Predicho: 103234.78

In [31]:
import joblib
joblib.dump(preprocessor, 'preprocesador.joblib')
model.save('modelo_sueldos.keras')